@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Regular.woff2');
  font-family: 'GilroyBold';
  src: url('../public/fonts/Gilroy-Bold.woff2');
  font-family: 'GilroyHeavy';
  src: url('../public/fonts/Gilroy-Heavy.woff2');
  font-family: 'Chronicle Display';
  src: url('../public/fonts/Chronicle\ Display\ Semibold.otf');
}
